# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Django
db.sqlite3
media/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
.vite/

# Logs
*.log

# OS
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.swp


